body {
	background-color: #333;
	color: #fff;
}

h4 {
	margin-top:6px;
	margin-bottom:2px;
}

.panel {
	background-color: #333;
	color: #fff;
	padding: 3px;
	margin-bottom:1px;
	border-radius:0px;
	border:0px;
}

.title {
	border-bottom:2px solid #ddd;
}

.channels {
	margin-left:0px;
}

.channel {
	padding-left:0px;
	border-bottom:1px solid #ddd;
}

.channel-name {
	font-size:10px;
}

.loops {
	margin-left:0px;
}

.loop {
	padding-left:0px;
}

.loop-name {
	font-size:10px;
}

.loop-name .selected {
	font-weight:bold;
}

.samples {
	margin-left:0px;
}

.sample {
	padding-left: 2px;
	padding-right: 2px;
	background-color: #555;
}

.sample-name {
	font-size:10px;
}