body {
	background-color: #333;
	color: #fff;
}

.panel {
	background-color: #333;
	color: #fff;
	padding: 3px;
	margin-bottom:1px;
}

.channels {
	margin-left:0px;
}

.channel {
	height: 180px;
	padding-left: 2px;
	padding-right: 2px;
}

.meter {
	width: 14px;
	height: 10px;
	background-color: #dedede;
	bottom:0px;
}

.meter-back {
	vertical-align: bottom;
	text-align:bottom;
	height: 110px;
	width: 22px;
}

.channel-name {
	font-size:10px;
	padding-top:6px;
	text-align:center;
}

.samples {
	margin-left:0px;
}

.sample {
	padding-left: 2px;
	padding-right: 2px;
}

.sample-name {
	font-size:10px;
	padding-top:6px;
	text-align:center;
}